<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog</h1></a>
            <p>Firts Node.js  site</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue mollis sapien placerat tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vitae leo nec metus molestie pretium at vitae massa. Cras elit purus, convallis et tempus non, varius congue ligula. Quisque nec velit viverra, sagittis sapien vitae, pharetra tortor. Duis hendrerit augue eu lectus pellentesque egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue mollis sapien placerat tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vitae leo nec metus molestie pretium at vitae massa. Cras elit purus, convallis et tempus non, varius congue ligula. Quisque nec velit viverra, sagittis sapien vitae, pharetra tortor. Duis hendrerit augue eu lectus pellentesque egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue mollis sapien placerat tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vitae leo nec metus molestie pretium at vitae massa. Cras elit purus, convallis et tempus non, varius congue ligula. Quisque nec velit viverra, sagittis sapien vitae, pharetra tortor. Duis hendrerit augue eu lectus pellentesque egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue mollis sapien placerat tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vitae leo nec metus molestie pretium at vitae massa. Cras elit purus, convallis et tempus non, varius congue ligula. Quisque nec velit viverra, sagittis sapien vitae, pharetra tortor. Duis hendrerit augue eu lectus pellentesque egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
</body>
</html>